NODE_ENV=development
PORT=5000
JWT_SECRET=JWT_SECRET=preetha123securekey
MONGO_URI=mongodb+srv://preethacse25_db_user:Preetha2013@cluster0.p8afa4w.mongodb.net/ecommerce-db?retryWrites=true&w=majority&appName=Cluster0
RAZORPAY_KEY_ID=ADD_YOUT_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=ADD_YOUR_RAZORPAY_KEY_SECRET
PAGINATION_MAX_LIMIT=12 # This will show 12 products per page, ofcourse you can change it.
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=ADD_YOUR_BREVO_LOGIN
EMAIL_PASS=ADD_YOUR_BREVO_PASSWORD
EMAIL_FROM=ADD_YOUR_BREVO_LOGIN